body{
  background-image: url(https://redirect.viglink.com/?format=go&jsonp=vglnk_158026762168811&key=b9014669b87be145294606ccea8870ce&libId=k5yqgle501029lk1000DAbsb6gv8z&loc=https%3A%2F%2Fwww.gamespot.com%2Fgallery%2Fthe-25-toughest-star-wars-trivia-questions-in-any-%2F2900-389%2F15%2F&v=1&out=https%3A%2F%2Fgamespot1.cbsistatic.com%2Fuploads%2Fscale_super%2F1561%2F15615114%2F2964183-death%2520star%2520art.jpg&ref=https%3A%2F%2Fwww.google.com%2F&title=The%2025%20Toughest%20Star%20Wars%20Trivia%20Questions%20In%20Any%20Galaxy%20-%20GameSpot&txt=);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.option{
  margin: 20 px;
}